.classpath
.project
.gradle/
build
bin
gen
proguard-project.txt
project.properties
module_videogars.xml
videogars.properties
#.idea
*.iml
out
local.*
app/build
!build.gradle
.*
!.gitignore
libs/armeabi
libs/armeabi-v7a
libs/mips
libs/x86
obj/local
class_files.txt
mapping.txt
seeds.txt
unused.txt