<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.shikimori.client"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".ShikiApplikation"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".LoadScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullscreenTheme"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.AuthActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name=".activity.AnimeDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
        </activity>
        <activity
            android:name=".activity.MangaDetailsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:configChanges="orientation|screenSize" >
        </activity>

        <activity
            android:name=".activity.PreferencesShikiActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:configChanges="orientation|screenSize" >
        </activity>

        <activity
            android:name=".activity.log.ShowErrorLogActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".activity.log.SendLogActivity"
            android:theme="@android:style/Theme.Translucent"
            android:textAppearance="@android:style/TextAppearance.Large"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="ru.altarix.mos.reception.SEND_LOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.NewMessagesService"
            android:enabled="true" />


        <receiver android:name=".receives.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!--<action android:name="android.intent.action.PACKAGE_INSTALL" />-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
                <action android:name="${applicationId}.LAUNCH_FROM_APP" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.shikimori.library.tool.push.PushHelperReceiver">
            <intent-filter>
                <action android:name="${applicationId}.im.RECEIVE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receives.UpdateReceiver" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
